h1 {
    text-align: left;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rebeccapurple;
}

body {
    background: rgb(242, 238, 255);
}

.container {
    width: 900px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(159, 132, 214);
    border-radius: 15px;
    padding: 30px 30px 20px;
}

p1 {
    border: 2px solid rgb(96, 56, 114);
    background-color: rgb(159, 132, 214);
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

p3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.container .content {
    margin: 35px 0;
}

.content .info {
    display: flex;
    justify-content: center;
}

.info .desc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}

span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

button {
    font-size: 30px;
    border: none;
    outline: none;
    background: gray;
    padding: 13px 22px;
    border-radius: 10px;
}